nav {
    background-color: rgba(12, 23, 32, 0.829);
    padding: 1em;
    display: flex;
}

.css-4pdmu4-MuiBreadcrumbs-ol {
    justify-content: center;
}

.navbarLink {
    color: white;
    padding: 1em;
    text-decoration: none;
    text-transform: uppercase;
}

.navbarLinks {
    flex: 2;
    display: flex;
}

.navbarLogo {
    flex: 1;
    display: flex;
    align-items: center;
    justify-content: flex-end;
    color: white;
}
